body{
    background-color: rgba(137, 146, 146, 0.863);
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.mysig{
    color: rgb(233, 228, 236)
}
.id {
    color: rgb(168, 227, 247)
}
nav ul li{
    list-style-type: none;
}
nav ul li a {
    color: aquamarine;
}
h1{
    color: rgb(59, 58, 58)
}
li{
    display:inline-block;
    align-content: center;
    padding-right: 20px;
}
#des{
    clear: both;
}
#haze {
    opacity: 100;

}
#map{
    opacity: 100;
}
#lake{
    opacity: 100;
}
#haze:hover{
    opacity: .3
}
#map:hover{
    opacity: .3
}
#lake:hover{
    opacity: .3;
}