body{
    text-align: center;
    background-color: blueviolet;
    color: blue;
}

#myfavoritecolor{color: chartreuse;
}


.myClass{
    color: yellow;
}
#love {color: black;
}

ul {list-style: none;
}

#fatty {
    height: 400px;
}

header {border-style: dashed}